--
-- PostgreSQL database dump
--

\restrict Impid5LKargTLu6IaCQaUTgYIWrMHf3K6gKmQCUhGF4JbI3DdVZVqKQ0lh3lXST

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: referrals_status_enum; Type: TYPE; Schema: public; Owner: loginus
--

CREATE TYPE public.referrals_status_enum AS ENUM (
    'pending',
    'accepted',
    'rejected'
);


ALTER TYPE public.referrals_status_enum OWNER TO loginus;

--
-- Name: two_factor_codes_status_enum; Type: TYPE; Schema: public; Owner: loginus
--

CREATE TYPE public.two_factor_codes_status_enum AS ENUM (
    'pending',
    'verified',
    'expired',
    'used'
);


ALTER TYPE public.two_factor_codes_status_enum OWNER TO loginus;

--
-- Name: two_factor_codes_type_enum; Type: TYPE; Schema: public; Owner: loginus
--

CREATE TYPE public.two_factor_codes_type_enum AS ENUM (
    'email',
    'sms'
);


ALTER TYPE public.two_factor_codes_type_enum OWNER TO loginus;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_merge_requests; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.account_merge_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "primaryUserId" uuid NOT NULL,
    "secondaryUserId" uuid NOT NULL,
    "authMethod" character varying(50) NOT NULL,
    conflicts jsonb NOT NULL,
    resolution jsonb,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    "resolvedAt" timestamp without time zone,
    "expiresAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.account_merge_requests OWNER TO loginus;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    service character varying(100) NOT NULL,
    action character varying(50) NOT NULL,
    resource character varying(255),
    "resourceId" character varying(100),
    "requestData" jsonb,
    "responseData" jsonb,
    "statusCode" integer DEFAULT 200 NOT NULL,
    "ipAddress" character varying(50),
    "userAgent" character varying(500),
    "userRoles" jsonb NOT NULL,
    "userPermissions" jsonb NOT NULL,
    "organizationId" uuid,
    "teamId" uuid,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO loginus;

--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.email_verification_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    token character varying(255) NOT NULL,
    "userId" uuid NOT NULL,
    email character varying(255) NOT NULL,
    "expiresAt" timestamp without time zone NOT NULL,
    "isUsed" boolean DEFAULT false NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.email_verification_tokens OWNER TO loginus;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.invitations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    "organizationId" uuid,
    "teamId" uuid,
    "invitedById" uuid NOT NULL,
    "acceptedById" uuid,
    token character varying(255) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    role character varying(100),
    message text,
    expires_at timestamp without time zone NOT NULL,
    accepted_at timestamp without time zone,
    declined_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT invitations_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'accepted'::character varying, 'declined'::character varying, 'expired'::character varying, 'cancelled'::character varying])::text[]))),
    CONSTRAINT invitations_type_check CHECK (((type)::text = ANY ((ARRAY['organization'::character varying, 'team'::character varying])::text[])))
);


ALTER TABLE public.invitations OWNER TO loginus;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO loginus;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: loginus
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO loginus;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: loginus
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: organization_memberships; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.organization_memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    "organizationId" uuid NOT NULL,
    "roleId" uuid NOT NULL,
    "joinedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "invitedBy" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "inviterId" uuid
);


ALTER TABLE public.organization_memberships OWNER TO loginus;

--
-- Name: organization_roles; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.organization_roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    "organizationId" uuid NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb NOT NULL,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    level integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.organization_roles OWNER TO loginus;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    settings jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    created_by uuid
);


ALTER TABLE public.organizations OWNER TO loginus;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.password_reset_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    token character varying(255) NOT NULL,
    "expiresAt" timestamp without time zone NOT NULL,
    "usedAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.password_reset_tokens OWNER TO loginus;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    resource character varying(50) NOT NULL,
    action character varying(50) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO loginus;

--
-- Name: referrals; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.referrals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    referrer_id uuid NOT NULL,
    referred_user_id uuid,
    referral_code character varying(255) NOT NULL,
    converted_at timestamp without time zone,
    expires_at timestamp without time zone,
    ip_address character varying(45),
    user_agent text,
    metadata jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    code character varying(100) NOT NULL,
    "referredId" uuid,
    "isUsed" boolean DEFAULT false NOT NULL,
    "usedAt" timestamp without time zone,
    "referredUserId" uuid,
    "referralCode" character varying NOT NULL,
    status public.referrals_status_enum DEFAULT 'pending'::public.referrals_status_enum,
    "convertedAt" timestamp without time zone,
    "ipAddress" character varying,
    "userAgent" character varying
);


ALTER TABLE public.referrals OWNER TO loginus;

--
-- Name: TABLE referrals; Type: COMMENT; Schema: public; Owner: loginus
--

COMMENT ON TABLE public.referrals IS '╨а╨╡╤Д╨╡╤А╨░╨╗╤М╨╜╨░╤П ╤Б╨╕╤Б╤В╨╡╨╝╨░ - ╤Б╨▓╤П╨╖╨╕ ╨╝╨╡╨╢╨┤╤Г ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П╨╝╨╕';


--
-- Name: COLUMN referrals.referrer_id; Type: COMMENT; Schema: public; Owner: loginus
--

COMMENT ON COLUMN public.referrals.referrer_id IS 'ID ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П, ╨║╨╛╤В╨╛╤А╤Л╨╣ ╤Б╨╛╨╖╨┤╨░╨╗ ╤А╨╡╤Д╨╡╤А╨░╨╗╤М╨╜╤Г╤О ╤Б╤Б╤Л╨╗╨║╤Г';


--
-- Name: COLUMN referrals.referred_user_id; Type: COMMENT; Schema: public; Owner: loginus
--

COMMENT ON COLUMN public.referrals.referred_user_id IS 'ID ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П, ╨║╨╛╤В╨╛╤А╤Л╨╣ ╨┐╨╡╤А╨╡╤И╨╡╨╗ ╨┐╨╛ ╤А╨╡╤Д╨╡╤А╨░╨╗╤М╨╜╨╛╨╣ ╤Б╤Б╤Л╨╗╨║╨╡';


--
-- Name: COLUMN referrals.referral_code; Type: COMMENT; Schema: public; Owner: loginus
--

COMMENT ON COLUMN public.referrals.referral_code IS '╨г╨╜╨╕╨║╨░╨╗╤М╨╜╤Л╨╣ ╨║╨╛╨┤ ╤А╨╡╤Д╨╡╤А╨░╨╗╤М╨╜╨╛╨╣ ╤Б╤Б╤Л╨╗╨║╨╕';


--
-- Name: COLUMN referrals.metadata; Type: COMMENT; Schema: public; Owner: loginus
--

COMMENT ON COLUMN public.referrals.metadata IS '╨Ф╨╛╨┐╨╛╨╗╨╜╨╕╤В╨╡╨╗╤М╨╜╤Л╨╡ ╨╝╨╡╤В╨░╨┤╨░╨╜╨╜╤Л╨╡ (╨║╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╨║╨╗╨╕╨║╨╛╨▓, ╨║╨╛╨╜╨▓╨╡╤А╤Б╨╕╨╣ ╨╕ ╤В.╨┤.)';


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    token character varying(255) NOT NULL,
    "userId" uuid NOT NULL,
    "expiresAt" timestamp without time zone NOT NULL,
    "isRevoked" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO loginus;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.role_permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "roleId" uuid NOT NULL,
    "permissionId" uuid NOT NULL,
    "grantedBy" uuid,
    "grantedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO loginus;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    "organizationId" uuid,
    "teamId" uuid,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "isGlobal" boolean DEFAULT true
);


ALTER TABLE public.roles OWNER TO loginus;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.system_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    value text NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now(),
    key character varying NOT NULL,
    description character varying,
    type character varying(50) DEFAULT 'string'::character varying,
    "isSystem" boolean DEFAULT false,
    "isEditable" boolean DEFAULT true
);


ALTER TABLE public.system_settings OWNER TO loginus;

--
-- Name: team_memberships; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.team_memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    "teamId" uuid NOT NULL,
    "roleId" uuid NOT NULL,
    "joinedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "invitedBy" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "inviterId" uuid
);


ALTER TABLE public.team_memberships OWNER TO loginus;

--
-- Name: team_roles; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.team_roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    "teamId" uuid NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb NOT NULL,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    level integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.team_roles OWNER TO loginus;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.teams (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "organizationId" uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    created_by uuid
);


ALTER TABLE public.teams OWNER TO loginus;

--
-- Name: two_factor_codes; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.two_factor_codes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    type public.two_factor_codes_type_enum NOT NULL,
    code character varying(6) NOT NULL,
    status public.two_factor_codes_status_enum DEFAULT 'pending'::public.two_factor_codes_status_enum NOT NULL,
    contact character varying(255),
    "ipAddress" character varying(50),
    "userAgent" character varying(500),
    "expiresAt" timestamp without time zone NOT NULL,
    "verifiedAt" timestamp without time zone,
    attempts integer DEFAULT 0 NOT NULL,
    "maxAttempts" integer DEFAULT 3 NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.two_factor_codes OWNER TO loginus;

--
-- Name: user_organizations; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.user_organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "organizationId" uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    "createdBy" uuid,
    "updatedBy" uuid
);


ALTER TABLE public.user_organizations OWNER TO loginus;

--
-- Name: user_role_assignments; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.user_role_assignments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "roleId" uuid,
    "organizationRoleId" uuid,
    "teamRoleId" uuid,
    "organizationId" uuid,
    "teamId" uuid,
    "assignedBy" uuid,
    "expiresAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now(),
    "updatedAt" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_role_assignments OWNER TO loginus;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.user_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "roleId" uuid NOT NULL,
    "grantedBy" uuid,
    "grantedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "expiresAt" timestamp without time zone
);


ALTER TABLE public.user_roles OWNER TO loginus;

--
-- Name: user_teams; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.user_teams (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "userId" uuid NOT NULL,
    "teamId" uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    "createdBy" uuid,
    "updatedBy" uuid
);


ALTER TABLE public.user_teams OWNER TO loginus;

--
-- Name: users; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255),
    "passwordHash" character varying(255) NOT NULL,
    "firstName" character varying(100),
    "lastName" character varying(100),
    "avatarUrl" character varying(500),
    "organizationId" uuid,
    "teamId" uuid,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "twoFactorEnabled" boolean DEFAULT false NOT NULL,
    "twoFactorMethods" text[] DEFAULT '{}'::text[] NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "twoFactorSecret" character varying(255),
    "backupCodes" text[],
    "twoFactorBackupCodesUsed" text[] DEFAULT '{}'::text[],
    phone character varying(20),
    "githubId" character varying(255),
    "githubUsername" character varying(255),
    "gosuslugiId" character varying(255),
    "vkontakteId" character varying(255),
    "primaryAuthMethod" character varying(50) DEFAULT 'EMAIL'::character varying NOT NULL,
    "availableAuthMethods" jsonb DEFAULT '["EMAIL"]'::jsonb NOT NULL,
    "mfaSettings" jsonb,
    "githubVerified" boolean DEFAULT false NOT NULL,
    "gosuslugiVerified" boolean DEFAULT false NOT NULL,
    "vkontakteVerified" boolean DEFAULT false NOT NULL,
    "messengerPreferences" jsonb,
    "oauthMetadata" jsonb,
    "messengerMetadata" jsonb
);


ALTER TABLE public.users OWNER TO loginus;

--
-- Name: verification_codes; Type: TABLE; Schema: public; Owner: loginus
--

CREATE TABLE public.verification_codes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(20) NOT NULL,
    identifier character varying(255) NOT NULL,
    "authMethod" character varying(50) NOT NULL,
    purpose character varying(50) NOT NULL,
    "isUsed" boolean DEFAULT false NOT NULL,
    "expiresAt" timestamp without time zone NOT NULL,
    metadata jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.verification_codes OWNER TO loginus;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: team_memberships PK_053171f713ec8a2f09ed58f08f7; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT "PK_053171f713ec8a2f09ed58f08f7" PRIMARY KEY (id);


--
-- Name: verification_codes PK_18741b6b8bf1680dbf5057421d7; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT "PK_18741b6b8bf1680dbf5057421d7" PRIMARY KEY (id);


--
-- Name: audit_logs PK_1bb179d048bbc581caa3b013439; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "PK_1bb179d048bbc581caa3b013439" PRIMARY KEY (id);


--
-- Name: email_verification_tokens PK_417a095bbed21c2369a6a01ab9a; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT "PK_417a095bbed21c2369a6a01ab9a" PRIMARY KEY (id);


--
-- Name: team_roles PK_4d682873a391d93b0e5fe2f082f; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_roles
    ADD CONSTRAINT "PK_4d682873a391d93b0e5fe2f082f" PRIMARY KEY (id);


--
-- Name: organizations PK_6b031fcd0863e3f6b44230163f9; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "PK_6b031fcd0863e3f6b44230163f9" PRIMARY KEY (id);


--
-- Name: refresh_tokens PK_7d8bee0204106019488c4c50ffa; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "PK_7d8bee0204106019488c4c50ffa" PRIMARY KEY (id);


--
-- Name: teams PK_7e5523774a38b08a6236d322403; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT "PK_7e5523774a38b08a6236d322403" PRIMARY KEY (id);


--
-- Name: role_permissions PK_84059017c90bfcb701b8fa42297; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_84059017c90bfcb701b8fa42297" PRIMARY KEY (id);


--
-- Name: user_roles PK_8acd5cf26ebd158416f477de799; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "PK_8acd5cf26ebd158416f477de799" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: permissions PK_920331560282b8bd21bb02290df; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_920331560282b8bd21bb02290df" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: organization_roles PK_c259f80f8cdc0877e9eabe3e632; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_roles
    ADD CONSTRAINT "PK_c259f80f8cdc0877e9eabe3e632" PRIMARY KEY (id);


--
-- Name: organization_memberships PK_cd7be805730a4c778a5f45364af; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_memberships
    ADD CONSTRAINT "PK_cd7be805730a4c778a5f45364af" PRIMARY KEY (id);


--
-- Name: account_merge_requests PK_d1770e98adab79fcc47438f6c83; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.account_merge_requests
    ADD CONSTRAINT "PK_d1770e98adab79fcc47438f6c83" PRIMARY KEY (id);


--
-- Name: two_factor_codes PK_f8d1b477d18b413827cb79fad25; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.two_factor_codes
    ADD CONSTRAINT "PK_f8d1b477d18b413827cb79fad25" PRIMARY KEY (id);


--
-- Name: referrals UQ_13a1bad9eef9e5cfa4b61765261; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT "UQ_13a1bad9eef9e5cfa4b61765261" UNIQUE ("referralCode");


--
-- Name: email_verification_tokens UQ_3d1613f95c6a564a3b588d161ae; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT "UQ_3d1613f95c6a564a3b588d161ae" UNIQUE (token);


--
-- Name: refresh_tokens UQ_4542dd2f38a61354a040ba9fd57; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "UQ_4542dd2f38a61354a040ba9fd57" UNIQUE (token);


--
-- Name: permissions UQ_48ce552495d14eae9b187bb6716; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "UQ_48ce552495d14eae9b187bb6716" UNIQUE (name);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: referrals UQ_a53a83849f95cbcf3fbcf32fd0a; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT "UQ_a53a83849f95cbcf3fbcf32fd0a" UNIQUE (code);


--
-- Name: system_settings UQ_b1b5bc664526d375c94ce9ad43d; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT "UQ_b1b5bc664526d375c94ce9ad43d" UNIQUE (key);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_token_key; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_token_key UNIQUE (token);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: referrals referrals_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_pkey PRIMARY KEY (id);


--
-- Name: referrals referrals_referral_code_key; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referral_code_key UNIQUE (referral_code);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: user_organizations user_organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT user_organizations_pkey PRIMARY KEY (id);


--
-- Name: user_organizations user_organizations_userId_organizationId_key; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT "user_organizations_userId_organizationId_key" UNIQUE ("userId", "organizationId");


--
-- Name: user_role_assignments user_role_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_role_assignments
    ADD CONSTRAINT user_role_assignments_pkey PRIMARY KEY (id);


--
-- Name: user_teams user_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT user_teams_pkey PRIMARY KEY (id);


--
-- Name: user_teams user_teams_userId_teamId_key; Type: CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "user_teams_userId_teamId_key" UNIQUE ("userId", "teamId");


--
-- Name: IDX_EMAIL_VERIFICATION_EMAIL; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_EMAIL_VERIFICATION_EMAIL" ON public.email_verification_tokens USING btree (email);


--
-- Name: IDX_EMAIL_VERIFICATION_EXPIRES; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_EMAIL_VERIFICATION_EXPIRES" ON public.email_verification_tokens USING btree ("expiresAt");


--
-- Name: IDX_EMAIL_VERIFICATION_TOKEN; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_EMAIL_VERIFICATION_TOKEN" ON public.email_verification_tokens USING btree (token);


--
-- Name: IDX_EMAIL_VERIFICATION_USER; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_EMAIL_VERIFICATION_USER" ON public.email_verification_tokens USING btree ("userId");


--
-- Name: IDX_account_merge_requests_expires_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_account_merge_requests_expires_at" ON public.account_merge_requests USING btree ("expiresAt");


--
-- Name: IDX_account_merge_requests_primary_user; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_account_merge_requests_primary_user" ON public.account_merge_requests USING btree ("primaryUserId");


--
-- Name: IDX_account_merge_requests_secondary_user; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_account_merge_requests_secondary_user" ON public.account_merge_requests USING btree ("secondaryUserId");


--
-- Name: IDX_account_merge_requests_status; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_account_merge_requests_status" ON public.account_merge_requests USING btree (status);


--
-- Name: IDX_password_reset_tokens_expiresAt; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_password_reset_tokens_expiresAt" ON public.password_reset_tokens USING btree ("expiresAt");


--
-- Name: IDX_password_reset_tokens_token; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_password_reset_tokens_token" ON public.password_reset_tokens USING btree (token);


--
-- Name: IDX_password_reset_tokens_userId; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_password_reset_tokens_userId" ON public.password_reset_tokens USING btree ("userId");


--
-- Name: IDX_users_email_verified; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_users_email_verified" ON public.users USING btree ("emailVerified");


--
-- Name: IDX_users_phone_verified; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_users_phone_verified" ON public.users USING btree ("phoneVerified");


--
-- Name: IDX_users_two_factor_enabled; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_users_two_factor_enabled" ON public.users USING btree ("twoFactorEnabled");


--
-- Name: IDX_verification_codes_code_used; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_verification_codes_code_used" ON public.verification_codes USING btree (code, "isUsed");


--
-- Name: IDX_verification_codes_expires_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_verification_codes_expires_at" ON public.verification_codes USING btree ("expiresAt");


--
-- Name: IDX_verification_codes_identifier_auth_purpose; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX "IDX_verification_codes_identifier_auth_purpose" ON public.verification_codes USING btree (identifier, "authMethod", purpose);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree ("createdAt");


--
-- Name: idx_audit_logs_service; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_service ON public.audit_logs USING btree (service);


--
-- Name: idx_audit_logs_user_created; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_user_created ON public.audit_logs USING btree ("userId", "createdAt");


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree ("userId");


--
-- Name: idx_audit_logs_user_service; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_audit_logs_user_service ON public.audit_logs USING btree ("userId", service);


--
-- Name: idx_invitations_accepted_by; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_accepted_by ON public.invitations USING btree ("acceptedById");


--
-- Name: idx_invitations_email; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_email ON public.invitations USING btree (email);


--
-- Name: idx_invitations_expires_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_expires_at ON public.invitations USING btree (expires_at);


--
-- Name: idx_invitations_invited_by; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_invited_by ON public.invitations USING btree ("invitedById");


--
-- Name: idx_invitations_organization_id; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_organization_id ON public.invitations USING btree ("organizationId");


--
-- Name: idx_invitations_status; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_status ON public.invitations USING btree (status);


--
-- Name: idx_invitations_team_id; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_team_id ON public.invitations USING btree ("teamId");


--
-- Name: idx_invitations_token; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_invitations_token ON public.invitations USING btree (token);


--
-- Name: idx_organizations_created_by; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_organizations_created_by ON public.organizations USING btree (created_by);


--
-- Name: idx_referrals_created_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_referrals_created_at ON public.referrals USING btree (created_at);


--
-- Name: idx_referrals_expires_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_referrals_expires_at ON public.referrals USING btree (expires_at);


--
-- Name: idx_referrals_referral_code; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_referrals_referral_code ON public.referrals USING btree (referral_code);


--
-- Name: idx_referrals_referred_user_id; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_referrals_referred_user_id ON public.referrals USING btree (referred_user_id);


--
-- Name: idx_referrals_referrer_id; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_referrals_referrer_id ON public.referrals USING btree (referrer_id);


--
-- Name: idx_teams_created_by; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_teams_created_by ON public.teams USING btree (created_by);


--
-- Name: idx_two_factor_codes_code_status; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_two_factor_codes_code_status ON public.two_factor_codes USING btree (code, status);


--
-- Name: idx_two_factor_codes_contact; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_two_factor_codes_contact ON public.two_factor_codes USING btree (contact);


--
-- Name: idx_two_factor_codes_created_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_two_factor_codes_created_at ON public.two_factor_codes USING btree ("createdAt");


--
-- Name: idx_two_factor_codes_expires_at; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_two_factor_codes_expires_at ON public.two_factor_codes USING btree ("expiresAt");


--
-- Name: idx_two_factor_codes_user_type_status; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_two_factor_codes_user_type_status ON public.two_factor_codes USING btree ("userId", type, status);


--
-- Name: idx_user_organizations_organization; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_user_organizations_organization ON public.user_organizations USING btree ("organizationId");


--
-- Name: idx_user_organizations_user; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_user_organizations_user ON public.user_organizations USING btree ("userId");


--
-- Name: idx_user_teams_team; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_user_teams_team ON public.user_teams USING btree ("teamId");


--
-- Name: idx_user_teams_user; Type: INDEX; Schema: public; Owner: loginus
--

CREATE INDEX idx_user_teams_user ON public.user_teams USING btree ("userId");


--
-- Name: user_teams FK_006715ef1e1b40852f379efe567; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "FK_006715ef1e1b40852f379efe567" FOREIGN KEY ("teamId") REFERENCES public.teams(id);


--
-- Name: organization_memberships FK_03b536604ff6c6676b51b74b1c9; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_memberships
    ADD CONSTRAINT "FK_03b536604ff6c6676b51b74b1c9" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: email_verification_tokens FK_10f285d038feb767bf7c2da14b3; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT "FK_10f285d038feb767bf7c2da14b3" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: organization_memberships FK_1813e7f46b5a18529482f519640; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_memberships
    ADD CONSTRAINT "FK_1813e7f46b5a18529482f519640" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: team_memberships FK_24fb44d379d01fac50ca6229074; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT "FK_24fb44d379d01fac50ca6229074" FOREIGN KEY ("roleId") REFERENCES public.team_roles(id) ON DELETE CASCADE;


--
-- Name: organization_memberships FK_52d9cfa848b4898f290f2d5f368; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_memberships
    ADD CONSTRAINT "FK_52d9cfa848b4898f290f2d5f368" FOREIGN KEY ("inviterId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_organizations FK_6881b23cd1a8924e4bf61515fbb; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT "FK_6881b23cd1a8924e4bf61515fbb" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: team_roles FK_6fcd658c29d67d82492e351294b; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_roles
    ADD CONSTRAINT "FK_6fcd658c29d67d82492e351294b" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: account_merge_requests FK_71eabe61a20d941d61fc9fee4d8; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.account_merge_requests
    ADD CONSTRAINT "FK_71eabe61a20d941d61fc9fee4d8" FOREIGN KEY ("primaryUserId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: team_memberships FK_82f21cea02fbb7f7a8451359673; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT "FK_82f21cea02fbb7f7a8451359673" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: team_memberships FK_877c10e3c9b8f08221792692af6; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT "FK_877c10e3c9b8f08221792692af6" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_organizations FK_9dae16cdea66aeba1eb6f6ddf29; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT "FK_9dae16cdea66aeba1eb6f6ddf29" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id);


--
-- Name: referrals FK_a398d03f3cf515627a7f5360bab; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT "FK_a398d03f3cf515627a7f5360bab" FOREIGN KEY ("referredUserId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: referrals FK_ad6772c3fcb57375f43114b5cb5; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT "FK_ad6772c3fcb57375f43114b5cb5" FOREIGN KEY ("referredId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_logs FK_audit_logs_user_id; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "FK_audit_logs_user_id" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: organization_roles FK_c593237ad2c7ae8e05a71fba9a2; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_roles
    ADD CONSTRAINT "FK_c593237ad2c7ae8e05a71fba9a2" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: account_merge_requests FK_cc2d6453b6b89e47809cbbd4449; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.account_merge_requests
    ADD CONSTRAINT "FK_cc2d6453b6b89e47809cbbd4449" FOREIGN KEY ("secondaryUserId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: organization_memberships FK_d82cafefe7e053004827891fd12; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organization_memberships
    ADD CONSTRAINT "FK_d82cafefe7e053004827891fd12" FOREIGN KEY ("roleId") REFERENCES public.organization_roles(id) ON DELETE CASCADE;


--
-- Name: user_teams FK_ee838ec2b13ac600a162c20ce33; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "FK_ee838ec2b13ac600a162c20ce33" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: team_memberships FK_fd1174943250617a0c5d3752103; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.team_memberships
    ADD CONSTRAINT "FK_fd1174943250617a0c5d3752103" FOREIGN KEY ("inviterId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: invitations FK_invitations_accepted_by; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "FK_invitations_accepted_by" FOREIGN KEY ("acceptedById") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations FK_invitations_invited_by; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "FK_invitations_invited_by" FOREIGN KEY ("invitedById") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations FK_invitations_organization; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "FK_invitations_organization" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: invitations FK_invitations_team; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "FK_invitations_team" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens FK_password_reset_tokens_userId; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT "FK_password_reset_tokens_userId" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: two_factor_codes FK_two_factor_codes_user_id; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.two_factor_codes
    ADD CONSTRAINT "FK_two_factor_codes_user_id" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_role_assignments FK_user_role_assignments_global_role; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_role_assignments
    ADD CONSTRAINT "FK_user_role_assignments_global_role" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_role_assignments FK_user_role_assignments_user; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_role_assignments
    ADD CONSTRAINT "FK_user_role_assignments_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations invitations_acceptedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_acceptedById_fkey" FOREIGN KEY ("acceptedById") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations invitations_invitedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_invitedById_fkey" FOREIGN KEY ("invitedById") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: invitations invitations_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: invitations invitations_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: organizations organizations_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: referrals referrals_referred_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referred_user_id_fkey FOREIGN KEY (referred_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: referrals referrals_referrer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referrer_id_fkey FOREIGN KEY (referrer_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teams teams_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_organizations user_organizations_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT "user_organizations_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: user_organizations user_organizations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_organizations
    ADD CONSTRAINT "user_organizations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_teams user_teams_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "user_teams_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: user_teams user_teams_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: loginus
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "user_teams_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Impid5LKargTLu6IaCQaUTgYIWrMHf3K6gKmQCUhGF4JbI3DdVZVqKQ0lh3lXST

